<div class="footer">
  <ul class="footer-links">
    <li><a href="{{ "feed.xml" | prepend: site.baseurl }}">Feed</a></li>
    <li class="divider"></li>
    <li><a href="{{ "feed-with-links.xml" | prepend: site.baseurl }}">Feed (with links)</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.footer.github | prepend: "https://github.com/" }}">GitHub</a></li>
    <li class="divider"></li>
    <li><a href="{{ site.footer.ipv6_check | prepend: "http://ip6.nl/#!" }}">IPv6</a></li>
    <li class="divider"></li>
    <li><a href="https://www.freebsd.org">FreeBSD</a></li>
  </ul>
</div>
